---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About Vikshan',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About Vikshan"
    image={{
      src: '~/assets/images/yt.png',
      alt: 'Tech Image',
    }}
  >
    <Fragment slot="title">
      Vikshan's
      <span class="text-accent dark:text-white highlight"> Tech Universe</span>
    </Fragment>

    <Fragment slot="subtitle">
      Hi, I'm Vikshan, a tech enthusiast from Africa studying at Kenyatta University. I'm inspired by TechTubers like
      MKBHD, mrwhosetheboss, JRE, and Hugh Jeffreys. On my YouTube channel, I share my knowledge and passion for
      technology through tech unboxing and reviews. I post one video every week. I'm seeking support for my channel
      through my Ko-Fi page, Patreon, and a wishlist on Throne due to lack of necessary equipment for making videos.
      Join me on this exciting journey!
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about Vikshan"
    stats={[
      { title: 'YT-Subscribers', amount: '600+' },
      { title: 'X Followers', amount: '200+' },
      { title: 'YT-Views', amount: '3K+' },
      { title: 'YT-Videos', amount: '5+' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our YouTube Content"
    subtitle="Explore the diverse range of content on Vikshan's Tech Universe."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Tech Reviews',
        description:
          'Discover in-depth reviews of the latest tech products and gadgets, helping you make informed purchasing decisions.',
        icon: 'tabler:mood-check',
      },
      {
        title: 'Tech Unboxings',
        description:
          'Experience the excitement of unboxing new tech products firsthand, as Vikshan provides detailed insights and first impressions.',
        icon: 'tabler:box',
      },
      {
        title: 'Weekly Tech Updates',
        description:
          'Consistent content with a new video posted every week, keeping viewers engaged and up-to-date with the latest in tech.',
        icon: 'tabler:calendar',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Tech Accessories',
        description:
          'Explore a wide range of tech accessories including headphones, chargers, and more to enhance your tech experience.',
        icon: 'tabler:headphones',
      },
      {
        title: 'Smart Home Devices',
        description:
          'Discover the latest smart home devices and gadgets to make your home more connected and efficient.',
        icon: 'tabler:smart-home',
      },
      {
        title: 'Gaming Gear',
        description:
          'Get the scoop on the newest gaming gear, from consoles to accessories, and stay ahead in the gaming world.',
        icon: 'tabler:device-gamepad-2',
      },
      {
        title: 'Laptops & PCs',
        description:
          'Stay informed about the latest laptops and PCs, from performance reviews to in-depth comparisons.',
        icon: 'tabler:device-laptop',
      },
      {
        title: 'Mobile Devices',
        description:
          'Stay up-to-date with the latest mobile devices, including smartphones and tablets, through detailed reviews and comparisons.',
        icon: 'tabler:device-mobile',
      },
      {
        title: 'Wearable Tech',
        description:
          'Explore the world of wearable tech, including smartwatches and fitness trackers, to stay connected and motivated.',
        icon: 'tabler:device-watch',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="My Values"
    subtitle="Discover the core values that guide Vikshan's approach to tech content creation and community engagement."
    items={[
      {
        title: 'Viewer-Centric Approach',
        description:
          'Vikshan values his community and engages with his viewers through comments, likes, and shares. His content is driven by the interests and feedback of his viewers.',
      },
      {
        title: 'Constant Improvement',
        description:
          'Vikshan is always learning and improving. He consistently seeks to enhance the quality of his videos and expand his tech knowledge.',
      },
      {
        title: 'Ethical Practices',
        description:
          'Vikshan is committed to ethical practices. He provides honest reviews and values the trust of his viewers.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Vikshan's Achievements"
    subtitle="Explore some of the key achievements and milestones in Vikshan's tech journey."
    isReversed={true}
    callToAction={{
      variant: 'yt',
      text: 'YouTube Channel',
      target: '_blank',
      href: 'https://www.youtube.com/@vikshan?sub_confirmation=1',
    }}
    items={[
      {
        title: 'Influential Global Reach',
        description:
          "Vikshan's tech content has reached audiences worldwide, making a significant impact in the global tech community.",
        icon: 'tabler:globe',
      },
      {
        title: 'Positive Feedback and Reviews',
        description:
          'Vikshan consistently receives positive feedback and reviews from viewers, reflecting the quality and value of the tech content provided.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Consistent Content Creation',
        description:
          'Vikshan consistently posts one video every week, keeping his viewers engaged and up-to-date with the latest in tech.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Connect with Vikshan"
    tagline="Find me on"
    columns={4}
    items={[
      {
        title: 'YouTube',
        icon: 'tabler:brand-youtube',
        href: 'https://www.youtube.com/@vikshan?sub_confirmation=1',
        description: 'Subscribe to my channel for weekly tech unboxing and reviews.',
      },
      {
        title: 'Ko-Fi',
        icon: 'tabler:coffee',
        href: 'https://ko-fi.com/vikshan',
        description: 'Support my channel through my Ko-Fi page.',
      },
      {
        title: 'Twitter',
        description: 'Follow for tech insights and discussions.',
        icon: 'tabler:brand-twitter',
        href: 'https://twitter.com/itsvikshan',
      },
      {
        title: 'Throne',
        icon: 'tabler:shopping-cart',
        href: 'https://throne.com/vikshan',
        description: 'Check out my wishlist on Throne and help me get the necessary equipment for making videos.',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
  title="Contact Vikshan"
  tagline="Get in Touch"
  columns={2}
  items={[
      {
          title: 'Email',
          description: 'Send us an email for inquiries and support.',
          icon: 'tabler:mail',
          link: 'mailto:contact@vikshan.com',
      },
      {
          title: 'Social Media',
          description: 'Connect with us on social media for updates and discussions.',
          icon: 'tabler:brand-twitter',
          link: 'https://twitter.com/vikshan',
      },
  ]}
/> -->
</Layout>
